BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 100
AccessModifierOffset: -4
NamespaceIndentation: Inner
Cpp11BracedListStyle: false

SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^"include/.*\.hpp?"'
    Priority: 1
    SortPriority: 1
    CaseSensitive: false

  - Regex: '^".*\.hpp?"'
    Priority: 2
    SortPriority: 2
    CaseSensitive: false

  - Regex: '^(<gtest/gtest.h>|<spdlog/spdlog.h>)'
    Priority: 3
    SortPriority: 3
    CaseSensitive: false

  - Regex: '.*'
    Priority: 4
    SortPriority: 4
    CaseSensitive: false
